<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeDirect.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
       /* h4, p, button, input {
            font-family: Helvetica, sans-serif, Arial;
            color: #5A5A5A;
            text-align: center;
        }

        p, button, input {
            font-size: 14px;
            margin-left: 5px;
            margin-right: 5px;
            text-decoration: none;
        }

        button {
            display: inline-block;
            background-color: #91CBF3;
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            cursor: pointer;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        input {
            display: inline-block;
            border: 1px solid lightgrey;
            padding: 10px 20px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        #container {
            margin: 20px auto;
            text-align: center;
        }

        #instructions {
            margin: 20px auto;
            width: 50%;
        }*/

        .boardItemLightOn {
            background-color: lightgreen;
            border: 1px solid black;
            display: inline-block;
            width: 50px;
            height: 50px;
            vertical-align: top;
        }

        .boardItemLightOff {
            background-color: darkgreen;
            border: 1px solid black;
            display: inline-block;
            width: 50px;
            height: 50px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MeDirect.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MeDirect.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
